<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/default.css">
   <link rel="stylesheet" href="stylesheets/lanes.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game on </title>
</head>
<body>
    <div id="developer" class="show-user" style="left: 25%; top: 30%;height: 30%;width: 50%; display:none"></div>
    <div id = "speedometer" class="show-user"> </div> 
    <div id = "distance" class="show-user"></div>
    <img src="images/road/static-road.jpeg" style="width: 100%;" id="road">
    <img src="images/cars/nissan gtr/rear.png" id="car">
    <div id="light"></div>
    <img src="images/home&utility/traffic-light.png" id="trafficLight">
    <img src = "images/cars/chevrolet.png" class="lane-A"></img>
    <img src="images/cars/pngkit_back-of-car-png_9564915.png" class="lane-B"></img>
  
    <script src="javascripts/variables.js"></script>
    <script src="javascripts/handling.js"></script>
    <script src="javascripts/controls.js"></script>
    <script src="javascripts/acceleration.js"></script>
    <script src="javascripts/trafficLight.js"></script>
    <script src="javascripts/Traffic.js"></script>
    <script>
        onload = ()=>
       {
           one()
           two()
           four()
           five()
           six()
       }
    </script>
</body>
</html>