<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game over</title>
</head>
<body onload="redirect()">
    <style>
        
        div{
            font-family: main;
            position: absolute;
            left: 50%;
            top:50%;
            transform: translate(-50%,-50%);
            font-size: xx-large;
            color: white;
        }

    </style>

    <div><h2>Game-Over </h2></div>

    <script>
        function redirect(){
            setTimeout(()=>{
                location.href = '/';
            },5000)
        }
    </script>
</body>
</html>