<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garage </title>
</head>
<style>
    body{padding: 0; margin: 0;}
    *{box-sizing: border-box;}
    @font-face {
        font-family: main;
        src:url('/font/yorkwhiteletter.ttf');
    }
    div {display: block;
         height: 350px;
         background-color:black;
         border: 1px white solid;}
</style>
<body style="background-color:gray">
    <h1 style="text-align: center;font-family: main;">Garage </h1>
    <div style="width: 100%;background-color: chocolate; border-color: black;border-width: 5px;" >
  <img src="images/cars/nissan gtr/front-side.png" alt="" srcset="">
    </div>
    <div style="width: 50%; padding: 100px;border-top: 0;">
    <img src="/images/cars/nissan gtr/side.png" alt="" srcset="" height="150px" width="80%"></div>
    <div style="width: 50%;float: right;margin-top: -350px; border-top: 0;"> 
    <img src="/images/cars/nissan gtr/rear-side.png" alt="" srcset="" height="350px" width="80%">
    </div>
<h2 style="position:absolute ; top: 150px; left: 60%;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Nissan Gtr</h2>
<p style="position: absolute;top: 180px;left: 58%;color: aliceblue;font-family:'Courier New', Courier, monospace">Own The Street</p>
</body>
</html>