<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/settings.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1 style="text-align: center; font-family: main; font-size: 300%;">SETTINGS</h1>
<br>
    <form action="/controls" method="POST">
        <h2 style="font-family: 'Courier New', Courier, monospace; color: black;">PROFILE-NAME : <input type="text" name="name" id="" placeholder="player"></h2>
        <h1 style="text-align: center; font-family: main;color: black;">CONTROLS</h1>
        <br>ACTIVATE TOUCH SCREEN CONTROLS(RECOMMENDED TOUCHSCREEN DEVICES ONLY)<input type="checkbox" name="device" ><br><br><br>
        acceleration : <input type="text" name="acceleration" class="opt" placeholder="auto" readonly style="padding: 0 1.25%;background-color: rgba(255, 254, 254, 0)"><br>
        steer-left : <input type="text" name="left" class="opt" placeholder="A" readonly><br>
        steer-right : <input type="text" name="right" class="opt" placeholder="D" readonly><br>
        Brake: <input type="text" name="brake" class="opt" placeholder="S" readonly><br>
        <input type="submit" value="SAVE">
    </form>

</body>

</html>