<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/default.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
<div style="margin-left:60px ; font-family: main; font-size: 30px;">
    <h1>MAIN MENU</h1>
</div>
<br>
    <div class="">
    <a href="/entry"><input type="button" value="START" ></a>
        <br>
    <input type="button" value="GARAGE" ><br>
    <input type="button" value="AREA" ><br>
    <a href="/settings"lo><input type="button" value="OPTIONS" ><br></a>
    <!-- <input type="button" value="DONATE" ><br> -->
    <!-- <input type="button" value="INVEST" ><br> -->
    <input type="button" value="ABOUT" ><br>
    <a href="javascript:close()"><input type="button" value="EXIT" ></a><br>
    </div>
</body>
</html>