.Ids-ripple{
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
}

.Ids-ripple div{
    position: absolute;
    border: 10px solid black;
    opacity: 1;
    border-radius: 50%;
    animation: Ids-ripple 1s cubic-bezier(0 , 0.2, 0.8, 1) infinite;

}
.Ids-ripple div:nth-child(2){
    animation-delay: 0.5s;
}

@keyframes Ids-ripple {
    0%{
        top : 50px;
        left: 50px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100%{
        top: 0px ;
        left: 0%;
        width: 100px;
        opacity: 0;
    }
}
.animation-bg{
    display: flex;
    height: 42vw;
    width: 100%;
    align-items: center;
    justify-content: center;
}